@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --accent-color: #fff;
}



body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
}



/* .movie-l, .movie-s {
  display: block;
  margin: 10px;
  opacity: 1;
  visibility: visible;
}

.movie-info, .overview {
  opacity: 1;
  visibility: visible;
} */



/* Preloader */
.container-preloader {
   align-items:center;
   cursor:none;
   display:flex;
   height: 100%;
   justify-content: center;
   position: fixed;
   left:0;
   top:0;
   width:100%;
   z-index:900;
  background: #000;
}
.container-preloader .animation-preloader {
   position:absolute;
   z-index: 100;
}
/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
   animation: spinner 1s infinite linear;
   border-radius: 50%;
   border: 5px solid rgba(0, 0, 0, 0.2);
   border-top-color: darkred;
   border-bottom-color: #fff;
   height: 5em;
   margin: 0 auto 3.5em auto;
   width: 5em;
}
/* Loading text */
.container-preloader .animation-preloader .txt-loading {
   font: bold 5rem 'Montserrat', sans-serif;
   text-align: center;
   user-select: none;
   font-weight: 300;
}
.container-preloader .animation-preloader .txt-loading .movies {
   font-size: 5rem;
}
.container-preloader .animation-preloader .txt-loading .max::after {
   animation: characters 4s infinite;
   color: #fff;
   content: attr(preloader-text);
   left: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   transform: rotateY(-90deg);
}
.container-preloader .animation-preloader .txt-loading .movies::after {
   animation: characters 4.5s infinite;
   color: darkred;
   content: attr(preloader-text);
   left: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   transform: rotateY(-90deg);
   color: darkred;
}
.container-preloader .animation-preloader .txt-loading .max {
   color: rgba(0, 0, 0, 0.2);
   position: relative;
}
.container-preloader .animation-preloader .txt-loading .movies {
   color: rgba(0, 0, 0, 0.2);
   position: relative;
}
.container-preloader .animation-preloader .txt-loading .max:nth-child(2):before {
   animation-delay: 0.2s;
}
.container-preloader .animation-preloader .txt-loading .max:nth-child(3):before {
   animation-delay: 0.4s;
}
.container-preloader .animation-preloader .txt-loading .max:nth-child(4):before {
   animation-delay: 0.6s;
}
.container-preloader .animation-preloader .txt-loading .movies:nth-child(2):before {
   animation-delay: 0.8s;
}
.container-preloader .animation-preloader .txt-loading .movies:nth-child(3):before {
   animation-delay: 1s;
}
.container-preloader .animation-preloader .txt-loading .movies:nth-child(4):before {
   animation-delay: 1.2s;
}
.container-preloader .animation-preloader .txt-loading .movies:nth-child(5):before {
  animation-delay: 1.2s;
}
.container-preloader .animation-preloader .txt-loading .movies:nth-child(6):before {
  animation-delay: 1.2s;
}
.container-preloader .loader-section {
   background-color: #000;
   height: 100%;
   position: fixed;
   top: 0;
   width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
   left: 0;
}
.container-preloader .loader-section.section-right {
   right: 0;
}
/* Fade effect on loading animation */
.loaded .animation-preloader {
   opacity: 0;
   transition: 0.3s ease-out;
}
/* Curtain effect */
.loaded .loader-section.section-left {
   transform: translateX(-101%);
   transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
.loaded .loader-section.section-right {
   transform: translateX(101%);
   transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
/* Animation of the preloader */
@keyframes spinner {
   to {
       transform: rotateZ(360deg);
  }
}
/* Animation of letters loading from the preloader */
@keyframes characters {
   0%, 75%, 100% {
       opacity: 0;
       transform: rotateY(-90deg);
  }
   25%, 50% {
       opacity: 1;
       transform: rotateY(0deg);
  }
}
/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
  /* Preloader */
  /* Spinner Loading */
   .container-preloader .animation-preloader .spinner {
       height: 8em;
       width: 8em;
  }
  /* Text Loading */
   .container-preloader .animation-preloader .txt-loading {
       font: bold 3.5em 'Montserrat', sans-serif;
  }
}
@media screen and (max-width: 500px) {
  /* Prelaoder */
  /* Spinner Loading */
   .container-preloader .animation-preloader .spinner {
       height: 7em;
       width: 7em;
  }
  /*Loading text */
   .container-preloader .animation-preloader .txt-loading {
       font: bold 2em 'Montserrat', sans-serif;
  }
}


header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: darkred;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 900;
  color: var(--accent-color);
  cursor: pointer;
  font-size: 2rem;
}

button {
  cursor: pointer;
  color: #000 !important;
  
}

#maxmovies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  text-transform: capitalize;
  font-weight: 600;
  list-style: none;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;

}

.search {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: var(--primary-color);
  font-weight: 400;
  text-transform: capitalize;
}

.search:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}


/* network-status styles section */

#network-status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  max-width: 400px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#network-status.online {
  background-color: #4caf50; /* Green for online */
  color: #fff;
  box-shadow: 0 4px 6px rgba(76, 175, 80, 0.5); /* Subtle green glow */
}

#network-status.offline {
  background-color: #f44336; /* Red for offline */
  color: #fff;
  box-shadow: 0 4px 6px rgba(244, 67, 54, 0.5); /* Subtle red glow */
}

#network-status.online:before,
#network-status.offline:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 5px rgba(255, 255, );
}

.most-popular {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.watch-now,
.watch-later {
  color: var(--primary-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 100px;
  
}

.watch-now {
  padding: 0.5rem 1rem;
}

.watch-later {
  padding: 0.5rem 0.7rem;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.movie-l {
  width: 50rem;
  position: relative;
  margin: 1rem 1em 2rem 1rem;
  border-radius: 10px;
  overflow: hidden;
  height: 25rem;
}

.movie-l::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(9, 1, 31, 0.719),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}

.movie-l .movie-info {
  position: absolute;
  padding: 2rem;
  top: 25%;
  z-index: 2;
}

.movie-l .overview.visible {
  font-size: 14px;
  padding: 2rem;
  position: absolute;
  top: 35%;
  width: 60%;
  z-index: 2;
}

.recommended,
.searched {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommended h2 {
  width: 100%;
  margin: 2rem 1rem 0 1rem;
}

.movie-s img,
.movie-l img {
  width: 100%;
  border-radius: 10px;
}

.movie-s {
  flex: 1;
  min-width: 300px;
  margin: 1rem;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.movie-s .movie-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0.5rem;
  letter-spacing: 0.5px;
  font-size: 12px;
}

.movie-s .movie-info h3 {
  margin-top: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  /* Set the maximum number of lines before truncating */
  overflow: hidden;
}

.movie-s .movie-info span {
  font-size: 16px;
  white-space: nowrap;
}

.movie-s .overview.hidden {
  display: flex;
  flex-direction: column;
  justify-content: end;
  top: 0;
  bottom: 0;
  font-size: 12px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.281));
  position: absolute;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 100;
}

.movie-s .overview.hidden p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.movie-s .overview.hidden h3 {
  margin: 0;
}

.movie-s:hover .overview.hidden {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-track:horizontal {
  margin: 1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 100px;
}

.horizontal-list::-webkit-scrollbar-track {
  margin: 1rem;
}
